[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "External/tiny-cuda-nn"]
	url = git@github.com:lfranke/tiny-cuda-nn.git
